 :root {                          /* default styles for html page */
    --heading-color: #dccb14;
    --text-color: #fff;
    font-family: 'Arvo', serif;
    font-size: 15px;
    background-color: #007d06;
    letter-spacing: 0.3rem;

}


.centered-text {
    text-align: center;
}